# Visual Studio / Rider / Visual Studio Code
.vscode/
.idea/
.vs/
_ReSharper.*
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln.cache

# Compiled output
bin/
obj/

# Backup files
*~
*.bak

# User-specific files
*.suo
*.user
*.userosscache

# Packages
packages/

# NuGet
*.nuget.props
*.nuget.targets

# RIA
Generated_Code/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/